.projects {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}
.projects-header {
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
}

.content {
  text-align: justify;
  font-size: 0.8rem;
  padding: 0 7rem;
}
.projects-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 4rem 2rem 4rem;

  justify-content: center;
}

.projects-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
  border-radius: 2rem;
}

.projects-card img {
  border-radius: 0.5rem;
  box-shadow: 0px 1px 10px 0px white;
  height: 8rem;
  width: 8rem;
  transition: 0.5s;
}
.projects-card img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1065px) {
  .projects-header {
    padding-top: 1rem;
    font-size: 1.3rem;
  }
  .content {
    padding: 0.8rem 6rem;
    font-size: 0.9rem;
  }
  .projects-cards {
    padding: 1.5rem 0;
  }
  .projects-card img {
    border-radius: 0.5rem;
    box-shadow: 0px 1px 10px 0px white;
    height: 10rem;
    width: 10rem;
    transition: 0.5s;
  }
  .projects-card img:hover {
    transform: scale(1.17);
  }
}
@media screen and (max-width: 775px) {
  .projects {
    justify-content: center;
  }
  .projects-header {
    font-size: 1rem;
  }
  .content {
    padding: 0.5rem 4rem;
    font-size: 0.9rem;
  }
  .projects-cards {
    padding: 1.4rem 0.4rem;
  }
  .projects-card img {
    border-radius: 0.5rem;
    box-shadow: 0px 1px 10px 0px white;
    height: 8rem;
    width: 8rem;
    transition: 0.5s;
  }
  .projects-card {
    gap: 0.3rem;
  }
  .projects-card img:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 496px) {
  .projects-header {
    font-size: 0.7rem;
  }
  .content {
    font-size: 0.7rem;
    padding: 0.3rem 1.8rem;
  }
}
@media screen and (max-width: 360px) {

  .projects-header {
    font-size: 0.7rem;
  }
  .projects-cards {
    padding: 1rem 1.8rem;
  }
  .content {
    font-size: 0.6rem;
    padding: 0.1rem 1.5rem;
  }
  .projects-card img {
    border-radius: 0.3rem;
    box-shadow: 0px 1px 10px 0px white;
    height: 7rem;
    width: 7rem;
    transition: 0.5s;
  }
  .projects-card {
    gap: 0.2rem;
    padding: 0.3rem;
  }
  .projects-card img:hover {
    transform: scale(1.02);
  }
}
