.intro {
  overflow: hidden;
  font-family: "poppins", sans-serif;
}
.introContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 2rem 0;
}
.top {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 2px solid gray;
}
.bottom {
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 0.8rem;
  width: 80vw;
}
.name {
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(
    230deg,
    rgb(0, 255, 60) 10%,
    rgb(19, 172, 233) 100%
  );
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.role {
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(
    230deg,
    rgb(0, 255, 60) 10%,
    rgb(19, 172, 233) 100%
  );
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro button {
  background: linear-gradient(
    230deg,
    rgb(0, 255, 60) 10%,
    rgb(19, 172, 233) 100%
  );
  padding: 0.2rem;
  font-family: "poppins", sans-serif;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2rem;
  margin: 1rem;
  width: 6rem;
  font-size: 0.5rem;
  transition: 0.5s;
}
.intro button:hover {
  border: 2px solid rgb(0, 0, 0);
  transform: scale(1.04);
}
.intro button a {
  width: 1rem;
  text-decoration: none;
}
.para {
  display: contents;
  text-align: justify;
  width: 60vw;
}
@media screen and (max-width: 750px) {
  .introContent{
    justify-content: unset;
  }
  .top {
    height: 6rem;
    width: 6rem;
    border: 1.5px solid gray;
  }
  .bottom {
    font-size: 0.9rem;
    width: 80vw;
  }
  .name {
    font-size: 1.5rem;
  }
  .role {
    font-size: 1.2rem;
  }
  .intro button {
    background: linear-gradient(
      230deg,
      rgb(0, 255, 60) 10%,
      rgb(19, 172, 233) 100%
    );
    padding: 0.3rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 1rem;
    font-size: 0.5rem;
    width: 7rem;
  }
}
@media screen and (max-width: 590px) {

  .introContent{
    justify-content: unset;
  }
   .top {
    height: 5rem;
    width: 5rem;
  }
  .bottom {
    font-size: 0.8rem;
    width: 90vw;
  }
  .name {
    font-size: 1.3rem;
  }
  .role {
    font-size: 1rem;
  }
  .intro button {
    width: 5rem;
  }
}
@media screen and (max-width: 338px) {
  .intro{
  }
   .introContent{
    justify-content: unset;
  }
  .top {
    height: 4rem;
    width: 4rem; /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  }
  .bottom {
    font-size: 0.5rem;
    width: 90vw;
  }
  .name {
    font-size: 1rem;
  }
  .role {
    font-size: 0.8rem;
  }
  .intro button {
    width: 5rem;
  }
}
